@import url('https://fonts.googleapis.com/css2?family=Lato:wght@normal&display=swap');
@import "./utils/variable";
@import "./layout/reset";
@import "./utils/base";
@import "./utils/mixin";
@import "./componets/module";
@import "./utils/helpers";
@import "./layout/layout";


@import "./page/admin"