body{
    line-height: 1.2;
    font-family: 'Lato', sans-serif; 
    font-weight: bold;
}

a{
    text-decoration: none;
    color: inherit;
}

hr{
    margin: 0;
    border:none;
    height:1px;
    background-color: $gray-400;
}

form{
    color: $gray-900;
}


