body{
    line-height: 1.5;
    font-family: "Noto Sans", sans-serif; 
}

a{
    text-decoration: none;
    color: inherit;
}

hr{
    margin: 0;
    border:none;
    height:1px;
    background-color: $gray-400;
}

form{
    color: $gray-900;
}


