.assign-menu{
    flex: 0 0 30%;
}
.assign-menu-content{
    font-weight: normal;
    li{
        &:hover, &.active{
            cursor: pointer;
            background-color: $gray-100;
        }
    }
    p,span{
        font-size: 12px;
        font-weight: normal;
    }
}
.assign-message{
    flex: 0 0 67%;
    position: relative;
}
.assign-message-title{
    margin-top: 1px;
    p{
        font-size: 12px;
        font-weight: normal;
    }
}
.assign-message-content{
    font-weight: normal;
    li{
        &.active{
            background-color: $gray-100;
        }
        .file{
            position: relative; 
            display: inline-block;
            span{
                position: absolute;
                top: 45%;
                left: 5%;
                transform: translateY(-45%);
            }
        }
    }
}
.pre-next{
    flex: 0 0 15%;
}
.replay-modal{
    position: absolute;
    bottom: -5px;
    width: 100%;
    transition: 0.5s;
    &.hide{
        opacity: 0;
        z-index: -10;
    }
    &.show{
        opacity: 1;
        z-index: 1000;
    }
    .header{
        background-color: $gray-100;
    }
    .content{
        textarea{
            height: 263px;
            border: 0;
            width: 100%;
            &:focus{
                outline: 0;
            }
        }
    }
    .replay-moadl-btn{
        position: absolute;
        bottom: 16px;
        right: 24px;
    }
}